.navigation-clean-button {
  background: #fff;
  padding-top: .75rem;
  padding-bottom: .75rem;
  color: #333;
  border-radius: 0;
  box-shadow: none;
  border: none;
  margin-bottom: 0;
}

@media (min-width:768px) {
  .navigation-clean-button {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.navigation-clean-button .navbar-brand {
  font-weight: bold;
  color: inherit;
}

.navigation-clean-button .navbar-brand:hover {
  color: #ffffff;
}

.navigation-clean-button .navbar-toggler {
  border-color: #ddd;
}

.navigation-clean-button .navbar-toggler:hover, .navigation-clean-button .navbar-toggler:focus {
  background: none;
}

.navigation-clean-button .navbar-toggler {
  color: #888;
}

.navigation-clean-button .navbar-collapse, .navigation-clean-button .form-inline {
  border-top-color: #ddd;
}

.navigation-clean-button .navbar-nav a.active, .navigation-clean-button .navbar-nav > .show > a {
  background: none;
  box-shadow: none;
}

.navigation-clean-button.navbar-light .navbar-nav a.active, .navigation-clean-button.navbar-light .navbar-nav a.active:focus, .navigation-clean-button.navbar-light .navbar-nav a.active:hover {
  color: #8f8f8f;
  box-shadow: none;
  background: none;
  pointer-events: none;
}

.navigation-clean-button.navbar .navbar-nav .nav-link {
  padding-left: 18px;
  padding-right: 18px;
}

.navigation-clean-button.navbar-light .navbar-nav .nav-link {
  color: #465765;
}

.navigation-clean-button.navbar-light .navbar-nav .nav-link:focus, .navigation-clean-button.navbar-light .navbar-nav .nav-link:hover {
  color: #ffffff !important;
  background-color: transparent;
}

button:focus {
  outline: none;
}

.portfolio-block.skills {
  border-bottom: initial;
}

.page-footer {
  border-top: initial;
}

.navbar-light .navbar-brand, .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
  color: white;
}

body {
  color: white;
}

@media (min-width: 768px) {
  .col-md-4 {
    max-width: 47%;
  }
}

.card.special-skill-item.border-0:hover {
  transform: scale(1.08);
}

.card.special-skill-item.border-0 {
  transition: transform .5s;
}

@media (min-width:576px) {
  .jumbotron {
    padding: 2rem 1rem;
  }
}

.project-card-no-image {
  box-shadow: 0 2px 10px rgba(0,0,0,.95);
  background: #000000d9;
}

.portfolio-info-card {
  background: #000000d9;
  box-shadow: 0 2px 10px rgba(0,0,0,.95);
}

@media (min-width: 768px) {
  .col-md-6 {
    margin-bottom: 0px!important;
  }
}

a:hover {
  color: #0075c1;
  text-decoration: none;
}

.list-group-item {
  box-shadow: 0 2px 10px rgba(0,0,0,.95);
  background: #000000d9;
  border-top-width: 0;
}

@media (max-width: 767px) {
  .navbar-collapse.show .navbar-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    padding-top: 70px;
    background-color: rgba(0,0,0,0.9);
    left: 0;
    flex-direction: column;
    height: auto;
    width: 40%;
    transition: left 0.27s ease;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
}

@media (max-width: 767px) {
  .navbar-collapse.collapsing .navbar-nav {
    display: block;
    position: fixed;
    padding-top: 70px;
    top: 0;
    width: 40%;
    bottom: 0;
    left: -40%;
    transition: all 0.27s ease;
  }
}

@media (max-width: 767px) {
  .nav-item {
    line-height: 3.5;
  }
}

.list-brd-top {
  border-top: 4px solid #0ea0ff!important;
}

